@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box; /* Ensure proper sizing */
}

.beginning {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  padding-top: 50px;
}

.education {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 200px; /* Adjust gap between items */
  height: 100vh;
}


.primary,
.secondary,
.cegep,
.university {
  max-width: 100%; 
  max-height: 100%; /* Fully fit cell height */
  position:relative;
}

.primary {
  grid-area: primary;
  background-color: transparent;
  

}

.secondary {
  grid-area: secondary;
  background-color: transparent;
}

.cegep {
  grid-area: cegep;
  background-color: transparent;
}

.university {
  grid-area: university;
  background-color: transparent;
}

.gradient-title {
  background: linear-gradient(90deg, #00BFFF, #7FFFD4, #FF69B4);
  background-size: 200% 200%;
  animation: gradient-slide 6s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 1.5rem; /* Adjust as needed */
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem; /* Increase text size */
}

@keyframes gradient-slide {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
