@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 50px;
}


.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-template-areas:
    "marios uniSelect"
    "gsm matrox";
    justify-content: center;
    align-items: center;
    position: relative;
}

.marios,
.uniSelect,
.gsm,
.matrox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    height:100vh;
    background-color: transparent;
    
}

.marios{
    grid-area: marios;
    flex-direction: column;
    justify-content: flex-start;
    
}

.marios-img{
    width: 500px;  
    height: auto; 
    object-fit: cover; 
    align-items: flex-start;
}

.marios-content 
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    height: 100vh;
    width: 100%;
}
.uniSelect{
    grid-area: uniSelect;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.uniSelect-img{
   width: fit-content;
    height: 400px;
    object-fit: cover;
    background-color: white;
}

.gsm{
    grid-area: gsm;
    background-color: lightgreen;
}

.gsm-img{
    width: fit-content;  
    height: auto; 
    object-fit: cover; 
}

.matrox{
    grid-area: matrox;
    background-color: red;
}

.matrox-img{
    width: fit-content;  
    height: auto; 
    object-fit: cover; 
}