@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 50px;
}


.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-template-areas:
    "marios uniSelect"
    "gsm matrox";
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

.marios,
.uniSelect,
.gsm,
.matrox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    height:100vh;
    background-color: transparent;
    /* border: 1px solid black;     */
    height:500px;
}

.marios{
    grid-area: marios;
    flex-direction: column;
    justify-content: flex-start;
     
}

.marios-img{
    width: 500px;  
    height: auto; 
    object-fit: contain; 
    align-items: flex-start;
    border-radius: 20px;

}

.marios-content 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 500px; 
}

.gsm{
    grid-area: gsm;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    

}

.gsm-img{
    width: 500px;
    height: 282px;
    object-fit: contain;
    background-color: transparent;
    border-radius: 20px;
    
    
}
.gsm-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
}
.uniSelect{
    grid-area: uniSelect;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   


}
.uniSelect-img{
    width: 500px;
    height: 282px;
    object-fit: contain;
    background-color: white;
    border-radius: 20px;
 
   
}
.uniSelect-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
}


.matrox{
    grid-area: matrox;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  

}

.matrox-img{
    width: 500px;
    height: 282px;
    object-fit: contain;
    background-color: white;
    border-radius: 20px;

}

.matrox-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
}