@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.navBarButtons
{
    color:#6b7280;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: color 0.5s ease-in, font-size 0.5s ease-in-out,  transform 0.3s ease-in-out;
    font-weight: bold;

}

.navBarButtons:hover
{
    color: white;
    transform: scale(1.1);
    font-size: 1.2rem;
    
}