
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* 
.HomePage
{
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     grid-template-areas: 
     "grid1 grid1"
     "grid2 grid2";
     width:500px;
   



} */

/* .grid1
{
    
    background-color: white;
    grid-template-areas: grid1;
    grid-column: span 2;
}

.grid2
{
    padding: 4rem;
    background-color: black;
    grid-template-areas: grid2;
    grid-column: span 2;
}
 */
